.font{
font-family: 'Roboto Slab', serif !important;
}

.img-logo {
    width: 130px;
  
}


.nav-link a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 12px;
    padding: 10px;
    font-size: 19px;
    font-weight: 500;
}

.register-btn{
    margin-right: 10px;
}
.logOut-btn{
    margin-right: 10px;
}

.user-name{
    margin-top: 10px;
    margin-left: 10px;
}

.login-btn{
    color: white;
}

