.font{
font-family: 'Roboto Slab', serif !important;
}

.img-logo {
    width: 130px;
  
}


.nav-link a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
}

.register-btn{
    margin-right: 10px;
}
.logOut-btn{
    margin-right: 10px;
}