.features-container{
    margin-top: 50px;
    margin-bottom: 80px;
}

.section-container{
    display: flex;
    justify-content: center;
}


.half-image img{
    margin-left: 20px;
    margin-top: 15px;
}

.features-container{
    display: grid;
    grid-template-columns: repeat(3,1fr
    );
}

.half-width{
    margin-top: 10px;
}

@media only screen and (max-width: 688px) {
    .section-container{
        display: grid;
       grid-template-columns: repeat(1,1fr);
    }
    
  }